<div>
    <div class="form-group">
        Название книги
        <div class="col-md-8">
            <input class="form-control" [(ngModel)]="name" placeholder="Название" />
        </div>
    </div>
    <div class="form-group">
        Авторы:
        <ul>
            <li *ngFor="let author of authors; let i = index">
                <span (dblclick)='editAuthor(author, i)'>{{author}}</span> <span *ngIf='!isLastAuthor(i, authors)'>,
                </span>
            </li>
            <button class="btn btn-default" (click)="newAuthor()">Добавить автора</button>
        </ul>
    </div>
    
    <p>
        <button type="button" class="btn btn-outline-primary" (click)="collapse_rating.toggle()" [attr.aria-expanded]="!isRatingCollapsed"
          aria-controls="collapseExample">
          Добавить Рейтинг
        </button>
      </p>
      <div #collapse_rating="ngbCollapse" [(ngbCollapse)]="isRatingCollapsed">
        <div class="card">
          <div class="card-body">
            <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
          </div>
        </div>
      </div>

      <p>
        <button type="button" class="btn btn-outline-primary" (click)="collapse_isbn.toggle()" [attr.aria-expanded]="!isISBNCollapsed"
          aria-controls="collapseExample">
          Добавить ISBN
        </button>
      </p>
      <div #collapse_isbn="ngbCollapse" [(ngbCollapse)]="isISBNCollapsed">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
                ISBN
                <div class="col-md-8">
                    <input class="form-control" [(ngModel)]="isbn" placeholder="isbn" />
                </div>
            </div>
          </div>
        </div>
      </div>

      <p>
        <button type="button" class="btn btn-outline-primary" (click)="collapse_year.toggle()" [attr.aria-expanded]="!isYearCollapsed"
          aria-controls="collapseExample">
          Добавить дату публикации
        </button>
      </p>
      <div #collapse_year="ngbCollapse" [(ngbCollapse)]="isYearCollapsed">
        <div class="card">
          <div class="card-body">
            <div class="form-group">
                Дата
                <ngb-datepicker #dp [(ngModel)]="selectedDate" [maxDate]='dateNow' [minDate]='minDate'></ngb-datepicker>
                <pre>Model: {{ dateNow | json }}</pre>
            </div>
          </div>
        </div>
      </div>

      
    
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" (click)="saveBook()">Добавить</button>
        </div>
    </div>
</div>