<div>
    <div class="form-group">
        Название книги
        <div class="col-md-8">
            <input class="form-control" [(ngModel)]="name" placeholder="Название" />
        </div>
    </div>
    <div class="form-group">
        Авторы:
        <ul>
            <li *ngFor="let author of authors; let i = index">
                <span (dblclick)='editAuthor(author, i)'>{{author}}</span> <span *ngIf='!isLastAuthor(i, authors)'>,
                </span>
            </li>
            <button class="btn btn-default" (click)="newAuthor()">Добавить автора</button>
        </ul>
    </div>
    <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating>
    
    <p>
        <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample">
          Toggle
        </button>
      </p>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="card">
          <div class="card-body">
            Добавить Рейтинг
          </div>
        </div>
      </div>
    
    <div class="form-group">
        ISBN
        <div class="col-md-8">
            <input class="form-control" [(ngModel)]="isbn" placeholder="isbn" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
            <button class="btn btn-default" (click)="saveBook()">Добавить</button>
        </div>
    </div>
</div>