<form #book_opt_form_tepm="ngForm" novalidate>
    <div class='mt-2'>
        <button type="button" class="btn btn-outline-primary" (click)="collapse_year.toggle()"
            [attr.aria-expanded]="!isYearCollapsed" aria-controls="collapseExample">
            <span *ngIf='isYearCollapsed'>Добавить год публикации</span>
            <span *ngIf='!isYearCollapsed'>Не включать год публикации</span>
        </button>
    </div>
    <div #collapse_year="ngbCollapse" [(ngbCollapse)]="isYearCollapsed">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    Год публикации
                    <input type="number" ngModel name="year" min="1800" [max]="currentYear" #year="ngModel" required>
                </div>
            </div>
        </div>
    </div>
    <div class='mt-2'>
        <button type="button" class="btn btn-outline-primary" (click)="collapse_rating.toggle()"
            [attr.aria-expanded]="!isRatingCollapsed" aria-controls="collapseExample">
            <span *ngIf='isRatingCollapsed'>Добавить рейтинг</span>
            <span *ngIf='!isRatingCollapsed'>Не включать рейтинг</span>
        </button>
    </div>
    <div #collapse_rating="ngbCollapse" [(ngbCollapse)]="isRatingCollapsed">
        <div class="card">
            <div class="card-body">
                <div>Рейтинг: {{selectedRating}}</div>
                <ngb-rating [(rate)]="selectedRating" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="false">
                </ngb-rating>
            </div>
        </div>
    </div>
    <div class='mt-2'>
        <button type="button" class="btn btn-outline-primary" (click)="collapse_isbn.toggle()"
            [attr.aria-expanded]="!isISBNCollapsed" aria-controls="collapseExample">
            <span *ngIf='isISBNCollapsed'>Добавить ISBN</span>
            <span *ngIf='!isISBNCollapsed'>Не включать ISBN</span>
        </button>
    </div>
    <div #collapse_isbn="ngbCollapse" [(ngbCollapse)]="isISBNCollapsed">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    ISBN
                    <input class="form-control" ngModel name="isbn" placeholder="ISBN" required #isbn="ngModel" />
                </div>
            </div>
        </div>
    </div>
</form>